@media (max-width: 1600px) {
    .karmi-sheba-nav .navbar {
        padding-right: 30px;
        padding-left: 30px;
    }

    .karmi-sheba-nav .navbar .navbar-nav {
        margin: 0 20px auto auto;
    }

    .home-banner-img {
        right: -6%;
        width: 56%;
    }
}

@media (max-width: 1440px) {
    .karmi-sheba-nav .navbar .navbar-nav .nav-item a {
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .other-option .btn {
        padding: 8px 16px;
        font-size: 14px;
    }

    .navbar-brand {
        width: 16%;
    }

    h1 {
        font-size: 65px;
        line-height: 70px;
    }

    h2 {
        font-size: 30px;
        line-height: 45px;
    }

}

@media (max-width: 1199px) {
    .karmi-sheba-nav .navbar .other-option {
        margin-left: 15px;
    }
}

@media (max-width: 992px) {
    .other-option {
        margin: 20px 35px 0 31px;
    }

    .home-banner-text-box-inner {
        z-index: 999;
        width: 100%;
        padding-top: 40px;
    }

    .home-banner-inner-area {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .shap-img {
        position: absolute;
        top: -45px;
    }

    #home-case-stady {
        padding-top: 325px;
    }

    .case-study-box {
        height: auto;
        margin-top: 30px;
    }

    .home-banner-img {
        position: inherit;
        width: 100%;
        text-align: center;
        transform: inherit;
        -webkit-transform: inherit;
        -moz-transform: inherit;
        -ms-transform: inherit;
        -o-transform: inherit;
    }

    #home-case-stady .container-fluid .row:nth-child(2) {
        margin-top: 0px;
    }

    .our-product-img img {
        width: 100%;
    }

    .veido-area-custom img {
        width: 30%;
    }

    .home-our-product-details {
        padding-left: 0;
        padding-top: 50px;
    }

    .competenies-box a {
        display: inherit;
    }

    .competenies-box {
        padding: 20px 25px;
        width: auto;
        margin-right: 15px;
        display: inherit !important;
    }

    .competenies-box img {
        width: 20%;
    }

    .work-processing-box {
        height: auto;
        margin-top: 30px;
    }

    .cta-button {
        margin-top: 30px;
    }

    .counter-box-wrapper {
        margin-bottom: 30px;
    }

    .heading-content-box p {
        width: 100%;
    }

    .logo-area-box {
        text-align: center;
        border: 1px solid #fff;
    }

    #logo-area-home .container .row .col-lg-3:last-child .logo-area-box {
        border: 1px solid #fff;
    }

    .footetr-form-arae {
        margin-top: 40px;
    }

    .work-profile-box {
        margin-bottom: 30px;
    }

    #home_banner {
        padding-top: 200px;
    }


}

@media (max-width: 768px) {
    .competencies-wrapper-box {
        display: inherit;
        margin-top: 30px;
    }

    .competenies-box {
        margin-bottom: 30px;
    }

    .competenies-box a {
        text-align: center;
    }

    .competenies-box a h6 {
        margin-top: 20px;
    }

    .work-profile-img a img {
        width: 100%;
    }

    .work-profile-icon img {
        width: 25% !important;
    }

    .responsive-none {
        display: none;
    }

    .footer-collapese {
        display: block;
    }

    h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .shap-img {
        top: 195px;
    }

    #home-case-stady {
        padding-top: 165px;
    }


}


@media (max-width: 576px) {
    #accordionExample .card-body .footer-collapes-inner-area {
        display: inherit;
    }

    #accordionExample .card-body .tabs-address-area {
        padding-left: 0;
        padding-top: 40px;
    }

    .product-area-button a {
        margin-right: 15px;
    }

    .work-processing-box {
        display: inherit;
        text-align: center;
    }

    .work-process-text {
        padding-left: 0;
        padding-top: 30px;
    }

    .work-proces-img img {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .home-banner-text-box-inner h2 {
        font-size: 20px;
        line-height: 38px;
    }

    .shap-img {
        position: absolute;
        top: 101px;
    }

    h1 {
        font-size: 36px;
        line-height: 50px;
    }

    .btn {
        padding: 8px 17px;
        font-size: 14px;
    }

    #home-case-stady {
        padding-top: 100px;
    }

    #home_work_processing {
        padding: 80px 0;
    }

    #counter-area {
        padding: 80px 0;
    }

    #home_client_area {
        padding: 0 0 80px 0;
    }

    #logo-area-home {
        padding: 80px 0;
    }

    #work-porfile {
        padding: 80px 0;
    }

    #footer-area {
        padding: 80px 0;
    }

    #home_cta {
        padding: 80px 0;
    }

    #home_competencies {
        padding: 80px 0;
    }

    #home-our-product {
        padding-bottom: 80px;
    }

    .home-banner-button a {
        margin-right: 7px;
    }

}

@media (max-width: 361px) {}