/*
@File:KarmiSheba Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default CSS
** - Preloader Area CSS
** - Navbar Area CSS
** - Main Banner Area CSS
** - About Section CSS
** - Data Services Section CSS
** - Fun Facts Section CSS
** - Tabs Solutions Section CSS
** - Work Section CSS
** - Testimonial Section CSS
** - Blog Section CSS
** - Sidebar Widget Area CSS
** - Partner Section CSS
** - Subscribe Section CSS
** - Services Section CSS
** - Process Section CSS
** - Software Section CSS
** - Productive Section CSS
** - Page Title Area CSS
** - Team Section CSS
** - Services Details CSS
** - Projects Details Area CSS
** - Pricing Area CSS
** - Shop Area CSS
** - Page Title Area CSS
** - Team Section CSS
** - Services Details CSS
** - Projects Details Area CSS
** - Pricing Area CSS
** - Shop Area CSS
** - Product Details Area CSS
** - Pagination Area CSS
** - Cart Area CSS
** - Checkout Area CSS
** - 404 Error Area CSS
** - Coming Soon Area CSS
** - Faq Section CSS
** - Blog Details Area CSS
** - Contact Area CSS
** - Footer Section CSS
** - Copyright Section CSS
** - Go Top CSS
*/
/*================================================
Default CSS
=================================================*/

@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-100 {
    padding-top: 100px;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
    outline: 0 !important;
    color: var(---heading-color);
}

a:hover {
    text-decoration: none;
    color: var(--pink-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    line-height: 80px;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

h4 {
    font-size: 22px;
    font-weight: 600;
}

h5 {
    font-size: 18px;
    font-weight: 400;
}

h6 {
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: var(--paragraph-color);
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    padding: 0;
}

/* --Common Class Area start-- */

.box-shadow {
    box-shadow: 0px 6px 32px -18px var(--pink-color);
}

/* --Common Class Area start-- */

/*--Common input style--*/

input[type="text"],
select,
input[type="password"] {
    min-height: 45px;
    background: #f7f7f7;
    border-color: #ddd;
}

.form-control:focus {
    background-color: transparent;
    border-color: transparent;
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
    background-color: #fff;
}

.img-zoom-hover img {
    transform-origin: 65% 75%;
    transition: transform 1s, filter 0.5s ease-out;
}

.img-zoom-hover:hover img {
    transform: scale(1.1);
}

/* --Button Area Start-- */

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn {
    color: var(--heading-color);
    position: relative;
    display: inline-block;
    padding: 10px 35px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease-in-out 0.1s;
    border-radius: 5px;
    border: 1px solid var(--pink-color);
    z-index: 999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.btn-theme {
    background-color: var(--pink-color);
    color: var(--color-white);
}

.btn-theme:hover {
    color: var(--color-white);
    border: 1px solid var(--heading-color);
    background-color: var(--heading-color);
}

.btn-theme-white:hover {
    color: var(--color-white);
    background-color: var(--pink-color);
}

.btn-theme::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: var(--heading-color);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-theme:hover::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}


.btn-theme-white::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: var(--pink-color);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-theme-white:hover::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.theme-btn-cta {
    background-color: var(--color-white);
    color: var(--heading-color);
    padding: 20px 30px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.theme-btn-cta:hover {
    background-color: var(--pink-color);
    box-shadow: 0px 6px 32px -18px var(--color-white);
    color: var(--color-white);
}

.theme-btn-cta::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: var(--pink-color);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.theme-btn-cta:hover::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}







a,
a:hover,
a:visited,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    -moz-transition: all 0.3s ease-in-out 0.1s;
    -ms-transition: all 0.3s ease-in-out 0.1s;
    -o-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
}

section {
    position: relative;
}

/* --Button Area End-- */

/* --Navbar Area Start-- */
.karmi-sheba-responsive-nav {
    display: none;
}

.karmi-sheba-nav {
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-right: 0;
    padding-left: 0;
}

.karmi-sheba-nav .navbar {
    padding-right: 120px;
    padding-top: 0;
    padding-left: 120px;
    padding-bottom: 0;
}

.karmi-sheba-nav .navbar ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
}

.karmi-sheba-nav .navbar .navbar-nav {
    margin: 0 130px auto auto;
}

.karmi-sheba-nav .navbar .navbar-nav .nav-item {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
}

.karmi-sheba-nav .navbar .navbar-nav .nav-item a {
    font-size: 18px;
    font-weight: 400;
    color: var(--heading-color);
    text-transform: capitalize;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.karmi-sheba-nav .navbar .navbar-nav .nav-item a:hover,
.karmi-sheba-nav .navbar .navbar-nav .nav-item a:focus,
.karmi-sheba-nav .navbar .navbar-nav .nav-item a.active {
    color: var(--pink-color);
}

.karmi-sheba-nav .navbar .navbar-nav .nav-item a i {
    font-size: 10px;
    position: relative;
    top: -1px;
    margin-left: 1px;
}

.karmi-sheba-nav .navbar .navbar-nav .nav-item:last-child a {
    margin-right: 0;
}

.karmi-sheba-nav .navbar .navbar-nav .nav-item:first-child a {
    margin-left: 0;
}

.karmi-sheba-nav .navbar .navbar-nav .nav-item .dropdown-menu {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    position: absolute;
    border: none;
    top: 80px;
    left: 0;
    width: 230px;
    z-index: 99;
    display: block;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
}

.karmi-sheba-nav .navbar .navbar-nav .nav-item .dropdown-menu li {
    padding: 0;
}

.karmi-sheba-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
    text-transform: capitalize;
    padding: 8px 15px;
    padding-left: 0;
    margin: 0;
    position: relative;
    color: #393953;
    font-size: 15.5px;
    font-weight: 400;
}

.karmi-sheba-nav .navbar .navbar-nav .nav-item .dropdown-menu li a::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 50%;
    width: 0;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    height: 1px;
    background-color: var(--pink-color);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.karmi-sheba-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover,
.karmi-sheba-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus,
.karmi-sheba-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    color: var(--pink-color);
    padding-left: 26px;
}

.karmi-sheba-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover::before,
.karmi-sheba-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus::before,
.karmi-sheba-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active::before {
    width: 20px;
}

.karmi-sheba-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    left: -245px;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.karmi-sheba-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
    color: #696997;
}

.karmi-sheba-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover,
.karmi-sheba-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus,
.karmi-sheba-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
    color: var(--pink-color);
}

.karmi-sheba-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu {
    left: -245px;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.karmi-sheba-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
    color: #696997;
    text-transform: capitalize;
}

.karmi-sheba-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover,
.karmi-sheba-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus,
.karmi-sheba-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
    color: #00b0ee;
}

.karmi-sheba-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.karmi-sheba-nav .navbar .other-option {
    margin-left: 0;
    margin-top: 5px;
}

.karmi-sheba-nav .navbar .other-option .default-btn.seo-btn {
    padding: 10px 25px;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid #00b0ee;
    color: #00b0ee;
}

.karmi-sheba-nav .navbar .other-option .default-btn.seo-btn:hover {
    background-color: #00b0ee;
    color: #ffffff;
}

.karmi-sheba-nav .black-logo {
    display: none;
}

.navbar-area {
    background-color: transparent;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.navbar-area.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    -webkit-box-shadow: 0 -9px 17px 0 rgb(255, 48, 102);
    box-shadow: 0 -9px 17px 0 rgb(255, 48, 102);
    background: #ffffff !important;
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.navbar-area.is-sticky .karmi-sheba-nav {
    padding-top: 15px;
}

.navbar-area.is-sticky .navbar-nav .nav-item a {
    color: var(--heading-color);
}

.navbar-area.is-sticky .navbar-nav .nav-item a:hover,
.navbar-area.is-sticky .navbar-nav .nav-item a:focus,
.navbar-area.is-sticky .navbar-nav .nav-item a.active {
    color: var(--pink-color);
}

.navbar-area.is-sticky .karmi-sheba-nav .navbar-brand .white-logo {
    display: none;
}

.navbar-area.is-sticky .karmi-sheba-nav .navbar-brand .black-logo {
    display: block;
}

@media only screen and (max-width: 991px) {
    .navbar-area {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-area.is-sticky {
        border-bottom: none;
        -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-area.is-sticky .logo .white-logo {
        display: none;
    }

    .navbar-area.is-sticky .logo .black-logo {
        display: block;
    }

    .karmi-sheba-responsive-nav {
        display: block;
    }

    .karmi-sheba-responsive-nav .karmi-sheba-responsive-menu {
        position: relative;
    }

    .karmi-sheba-responsive-nav .karmi-sheba-responsive-menu.mean-container .mean-nav ul {
        font-size: 14px;
    }

    .karmi-sheba-responsive-nav .karmi-sheba-responsive-menu.mean-container .mean-nav ul li a {
        font-size: 15px;
    }

    .karmi-sheba-responsive-nav .karmi-sheba-responsive-menu.mean-container .mean-nav ul li a.active {
        color: var(--pink-color);
    }

    .karmi-sheba-responsive-nav .karmi-sheba-responsive-menu.mean-container .mean-nav ul li li a {
        font-size: 15px;
    }

    .karmi-sheba-responsive-nav .karmi-sheba-responsive-menu.mean-container .navbar-nav {
        overflow-y: scroll;
        height: 336px;
        -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    }

    .karmi-sheba-responsive-nav .karmi-sheba-responsive-menu.mean-container .others-options {
        display: none;
    }

    .karmi-sheba-responsive-nav .mean-container a.meanmenu-reveal {
        color: var(--pink-color);
    }

    .karmi-sheba-responsive-nav .mean-container a.meanmenu-reveal span {
        background: var(--pink-color);
    }

    .karmi-sheba-responsive-nav .logo {
        position: relative;
        width: 50%;
        z-index: 999;
    }

    .karmi-sheba-responsive-nav .logo .white-logo {
        display: block;
    }

    .karmi-sheba-responsive-nav .logo .black-logo {
        display: none;
    }

    .karmi-sheba-nav {
        display: none;
    }
}

/* --Navbar Area End-- */

/* --Banner Area Start */
#home_banner {
    padding-top: 115px;
}

.home-banner-text-box {
    position: relative;
    width: 100%;
    height: 70vh;
    display: block !important;
}

.home-banner-inner-area {
    height: 100%;
    display: flex;
    align-items: center;
}

.home-banner-text-box-inner {
    color: #fff;
    z-index: 16;
    padding-left: 15px;
    padding-right: 15px;
    width: 58%;
    text-align: left;
}

.home-banner-img {
    left: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -30%;
    margin: auto;
    padding: 10px;
    position: absolute;
    width: 80%;
    text-align: right;
}

.home-banner-text-box-inner span {
    color: var(--pink-color);
}

.home-banner-text-box-inner h2 {
    padding-top: 10px;
    font-weight: 500;
}

.home-banner-text-box-inner h2 span {
    font-weight: 700;
    display: block;
}

.home-banner-button {
    margin-top: 40px;
}

.home-banner-button a {
    margin-right: 20px;
}

.typed::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

/* --Banner Area End */

/* --Casestudy Area Start */
#home_casestudy {
    padding: 120px 0;
}

.case-study-home-box img {
    width: 100%;
}

.case-study-overlay-text {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
}

.case-study-overlay-text h2 {
    color: var(--color-white);
    font-weight: bold;
}

.case-study-overlay-text h6 {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
    padding-top: 40px;
}

.case-study-overlay-text h6 a {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;

}

.case-box-1 {
    background-image: url(../img/case-study/case-1.png);
}

.case-box-2 {
    background-image: url(../img/case-study/case-2.png);
}

.case-study-home-box {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

.case-box-1:after {
    background-image: linear-gradient(to right, #0b4fc1a3, #e3078ea1);
}

.case-box-2:after {
    background-image: linear-gradient(to right, #0b4fc1a3, #e3078ea1);
}

.case-study-home-box:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .3s ease;
}

/* --Casestudy Area End */

/* --Home-logo Area Start */
#home_logo_slider {

    padding: 120px 0;
}

.home-logo-slider-wrapper {
    border: 1px solid var(--pink-color);
}

.logo-itm-home {
    text-align: center;
    padding: 50px 0px;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}

.logo-itm-home:hover {
    background-color: var(--pink-color);
}

.logo-itm-home i {
    color: var(--pink-color);
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}

.logo-itm-home:hover i,
.logo-itm-home:hover h6 {
    color: var(--color-white);
}

.logo-itm-home h6 {
    font-size: 16px;
    color: var(--heading-color);
    font-weight: 700;
    padding-top: 5px;
}

/* --Home-logo Area End */

/* --our-product Area Start */
#home-our-product {
    padding-bottom: 120px;
}

.our-product-img {
    position: relative;
}

.veido-area-custom a {
    z-index: 9999;
    position: relative;
}

.veido-area-custom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    background-color: var(--pink-color);
    color: var(--color-white);
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
}

.veido-area-custom::before,
.veido-area-custom::after {
    content: "";
    display: block;
    position: absolute;
    border: 20px solid var(--pink-color);
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    backface-visibility: hidden;
}

.veido-area-custom::after {
    animation-delay: 0.5s;
}

@keyframes animate {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.home-our-product-details {
    padding-left: 30px;
}

.home-our-product-details h2 {
    padding-top: 30px;
}

.product-area-button {
    margin-top: 30px;
}

.product-area-button a {
    margin-right: 35px;
}

/* --our-product Area End-- */

/* --competencies Area Start-- */
#home_competencies {
    padding: 120px 0;
    background-image: url(../img/comon-img/bg-service.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.heading-competencies h2 {
    font-weight: 600;
}

.competencies-wrapper-box {
    display: flex;
    margin-top: 30px;
}

.competenies-box {
    padding: 20px 25px;
    width: 270px;
    margin-right: 50px;
    display: flex;
    background: var(--color-white);
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}

.competenies-box:hover {
    background-color: var(--pink-color);
}

.competenies-box a {
    display: flex;
    align-items: center;
}

.competenies-box a h6 {
    font-size: 20px;
    padding-left: 20px;
    line-height: 30px;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}

.competenies-box:hover a h6 {
    color: var(--color-white);
}

.competencies-button {
    margin-top: 70px;
}

/* --competencies Area End --*/

/* --Work-processing Area Start-- */
#home_work_processing {
    padding: 120px 0;
}

.work-processing-box {
    display: flex;
    align-items: center;
    padding: 45px 60px;
    border: 1px solid #efefef;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
    height: 100%;
}

.work-processing-box:hover {
    border: transparent;
    box-shadow: 0px 6px 32px -27px var(--pink-color);
}

.work-process-text {
    padding-left: 30px;
}

.work-process-text h2 {
    margin-bottom: 30px;
}

/* --cWork-processing Area End --*/



/* --Cta Area Start-- */
#home_cta {
    padding: 100px 0;
    background-image: url(../img/comon-img/cta-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-cta-text-arae h4 {
    font-size: 20px;
    color: var(--color-white);
    font-weight: 400;
}

.home-cta-text-arae h2 {
    color: var(--color-white);
    font-weight: 500;
    padding-top: 15px;
}

.home-cta-text-arae p {
    color: var(--color-white);
    padding-top: 15px;
    width: 70%;
}

/* --Cta Area End --*/

/* --Counter Area Start-- */
#counter-area {
    padding: 120px 0;
}

.counter-top-icon {
    background: var(--color-white);
    color: var(--pink-color);
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50px;
    margin: 0 auto;
    box-shadow: 0px 0px 47px -24px #ff3066;
    z-index: 9;
    position: relative;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}

.counter-box-wrapper:hover .counter-top-icon {
    background-color: var(--pink-color);
    color: var(--color-white);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.counter-count-area {
    text-align: center;
    box-shadow: 0px 0px 11px -5px #ff3066;
    padding: 20px 0;
    margin-top: -30px;
    background: var(--color-white);
}

.counter-count-area h2 {
    padding-top: 30px;
}

.counter-count-area p {
    padding-top: 5px;
}

/* --Counter Area End --*/