/*
@File:KarmiSheba Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default CSS
** - Preloader Area CSS
** - Navbar Area CSS
** - Main Banner Area CSS
** - About Section CSS
** - Data Services Section CSS
** - Fun Facts Section CSS
** - Tabs Solutions Section CSS
** - Work Section CSS
** - Testimonial Section CSS
** - Blog Section CSS
** - Sidebar Widget Area CSS
** - Partner Section CSS
** - Subscribe Section CSS
** - Services Section CSS
** - Process Section CSS
** - Software Section CSS
** - Productive Section CSS
** - Page Title Area CSS
** - Team Section CSS
** - Services Details CSS
** - Projects Details Area CSS
** - Pricing Area CSS
** - Shop Area CSS
** - Page Title Area CSS
** - Team Section CSS
** - Services Details CSS
** - Projects Details Area CSS
** - Pricing Area CSS
** - Shop Area CSS
** - Product Details Area CSS
** - Pagination Area CSS
** - Cart Area CSS
** - Checkout Area CSS
** - 404 Error Area CSS
** - Coming Soon Area CSS
** - Faq Section CSS
** - Blog Details Area CSS
** - Contact Area CSS
** - Footer Section CSS
** - Copyright Section CSS
** - Go Top CSS
*/
/*================================================
Default CSS
=================================================*/

@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-100 {
    padding-top: 100px;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
    outline: 0 !important;
    color: var(---heading-color);
}

a:hover {
    text-decoration: none;
    color: var(--pink-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    line-height: 80px;
}

h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

h4 {
    font-size: 22px;
    font-weight: 600;
}

h5 {
    font-size: 18px;
    font-weight: 400;
}

h6 {
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: var(--paragraph-color);
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    padding: 0;
}

button:focus {
    outline: none;
}

/* --Common Class Area start-- */

.box-shadow {
    box-shadow: 0px 6px 32px -18px var(--pink-color);
}

/* --Common Class Area start-- */

/*--Common input style--*/

input[type="text"],
select,
input[type="password"] {
    min-height: 45px;
    background: #f7f7f7;
    border-color: #ddd;
}

.form-control:focus {
    background-color: transparent;
    border-color: transparent;
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
    background-color: #fff;
}

.img-zoom-hover img {
    transform-origin: 65% 75%;
    transition: transform 1s, filter 0.5s ease-out;
}

.img-zoom-hover:hover img {
    transform: scale(1.1);
}

/* --Button Area Start-- */

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn {
    color: var(--heading-color);
    position: relative;
    display: inline-block;
    padding: 10px 35px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease-in-out 0.1s;
    border-radius: 5px;
    border: 1px solid var(--pink-color);
    z-index: 999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.btn-theme {
    background-color: var(--pink-color);
    color: var(--color-white);
}

.btn-theme:hover {
    color: var(--color-white);
    border: 1px solid var(--heading-color);
    background-color: var(--heading-color);
}

.btn-theme-white:hover {
    color: var(--color-white);
    background-color: var(--pink-color);
}

.btn-theme::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: var(--heading-color);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-theme:hover::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}


.btn-theme-white::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: var(--pink-color);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-theme-white:hover::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.theme-btn-cta {
    background-color: var(--color-white);
    color: var(--heading-color);
    padding: 20px 30px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.theme-btn-cta:hover {
    background-color: var(--heading-color);
    box-shadow: 0px 6px 32px -18px var(--color-white);
    color: var(--color-white);
}

.theme-btn-cta::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: var(--heading-color);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.theme-btn-cta:hover::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

a,
a:hover,
a:visited,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    -moz-transition: all 0.3s ease-in-out 0.1s;
    -ms-transition: all 0.3s ease-in-out 0.1s;
    -o-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
}

section {
    position: relative;
}

/* --Button Area End-- */

/* ================================
            Home Page
===================================*/

/* --Banner Area Start */
#home_banner {
    padding-top: 115px;
}

.home-banner-text-box {
    position: relative;
    width: 100%;
    height: 70vh;
    display: block !important;
}

.home-banner-inner-area {
    height: 100%;
    display: flex;
    align-items: center;
}

.home-banner-text-box-inner {
    color: #fff;
    z-index: 16;
    padding-left: 15px;
    padding-right: 15px;
    width: 58%;
    text-align: left;
}

.home-banner-img {
    left: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -30%;
    margin: auto;
    padding: 10px;
    position: absolute;
    width: 80%;
    text-align: right;
}

.home-banner-text-box-inner span {
    color: var(--pink-color);
}

.home-banner-text-box-inner h2 {
    padding-top: 10px;
    font-weight: 500;
}

.home-banner-text-box-inner h2 span {
    font-weight: 700;
    display: block;
}

.home-banner-button {
    margin-top: 40px;
}

.home-banner-button a {
    margin-right: 20px;
}

.typed::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

/* --Banner Area End */

/* --Casestudy Area Start */

#home-case-stady {
    padding-top: 120px;
}

.shap-img {
    position: absolute;
    top: -230px;

}

#home-case-stady .container-fluid .row:nth-child(2) {
    margin-top: 30px;
}

.case-study-box {
    text-align: center;
    height: 100%;
    padding: 110px 20px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
}

.bg-box {
    background-image: url(../img/case-study/case-1.png);
}

.bg-box-two {
    background-image: url(../img/case-study/case-2.png);
}

.bg-box-three {
    background-image: url(../img/case-study/case-3.png);
}

.bg-box-four {
    background-image: url(../img/case-study/case-4.png);
}

.bg-box-five {
    background-image: url(../img/case-study/case-5.png);
}

.bg-box-six {
    background-image: url(../img/case-study/case-6.png);
}

.case-study-box h2 a {
    color: var(--color-white);
}

.case-study-box h5 a {
    color: var(--color-white);
    border-bottom: 2px solid var(--color-white);
}

.case-study-box h5 {
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 30px;
}

.case-study-box h2 a:hover,
.case-study-box h5 a:hover {
    color: var(--pink-color);
}

.case-study-box h5 a:hover {
    border-bottom: 2px solid var(--pink-color);
}

.ovarlay-box,
.ovarlay-box-two,
.ovarlay-box-three,
.ovarlay-box-four,
.ovarlay-box-five,
.ovarlay-box-six {
    position: relative;
}

.bg-position {
    position: relative;
}

.bg-position::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.ovarlay-box::after {
    background-image: linear-gradient(to right, #0b4fc1a3, #e3078ea1);
}

.ovarlay-box-two::after {
    background-image: linear-gradient(to right, #6717cda6, #2871fa96);
}

.ovarlay-box-three::after {
    background-image: linear-gradient(to right, #f9136299, #35126a8c);
}

.ovarlay-box-four::after {
    background-image: linear-gradient(to right, #04128299, #fca65e94);
}

.ovarlay-box-five::after {
    background-image: linear-gradient(to right, #f83600ad, #4bfa22a8);
}

.ovarlay-box-six::after {
    background-image: linear-gradient(to right, #31cdb0a6, #3551a4ab);
}


/* --Casestudy Area End */

/* --Home-logo Area Start */
#home_logo_slider {

    padding: 120px 0;
}

.home-logo-slider-wrapper {
    border: 1px solid var(--pink-color);
}

.logo-itm-home {
    text-align: center;
    padding: 50px 0px;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}

.logo-itm-home:hover {
    background-color: var(--pink-color);
}

.logo-itm-home i {
    color: var(--pink-color);
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}

.logo-itm-home:hover i,
.logo-itm-home:hover h6 {
    color: var(--color-white);
}

.logo-itm-home h6 {
    font-size: 16px;
    color: var(--heading-color);
    font-weight: 700;
    padding-top: 5px;
}

/* --Home-logo Area End */

/* --our-product Area Start */
#home-our-product {
    padding-bottom: 120px;
}

.our-product-img {
    position: relative;
}

.veido-area-custom a {
    z-index: 9999;
    position: relative;
}

.veido-area-custom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    background-color: var(--pink-color);
    color: var(--color-white);
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
}

.veido-area-custom::before,
.veido-area-custom::after {
    content: "";
    display: block;
    position: absolute;
    border: 20px solid var(--pink-color);
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    backface-visibility: hidden;
}

.veido-area-custom::after {
    animation-delay: 0.5s;
}

@keyframes animate {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.home-our-product-details {
    padding-left: 30px;
}

.home-our-product-details h2 {
    padding-top: 30px;
}

.product-area-button {
    margin-top: 30px;
}

.product-area-button a {
    margin-right: 35px;
}

/* --our-product Area End-- */

/* --competencies Area Start-- */
#home_competencies {
    padding: 120px 0;
    background-image: url(../img/comon-img/bg-service.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.heading-competencies h2 {
    font-weight: 600;
}

.competencies-wrapper-box {
    display: flex;
    margin-top: 30px;
}

.competenies-box {
    padding: 20px 25px;
    width: 270px;
    margin-right: 50px;
    display: flex;
    background: var(--color-white);
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}

.competenies-box:hover {
    background-color: var(--pink-color);
}

.competenies-box a {
    display: flex;
    align-items: center;
}

.competenies-box a h6 {
    font-size: 20px;
    padding-left: 20px;
    line-height: 30px;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}

.competenies-box:hover a h6 {
    color: var(--color-white);
}

.competencies-button {
    margin-top: 70px;
}

/* --competencies Area End --*/

/* --Work-processing Area Start-- */
#home_work_processing {
    padding: 120px 0;
}

.work-processing-box {
    display: flex;
    align-items: center;
    padding: 45px 60px;
    border: 1px solid #efefef;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
    height: 100%;
}

.work-processing-box:hover {
    border: transparent;
    box-shadow: 0px 6px 32px -27px var(--pink-color);
}

.work-process-text {
    padding-left: 30px;
}

.work-process-text h2 {
    margin-bottom: 30px;
}

/* --cWork-processing Area End --*/

/* --Cta Area Start-- */
#home_cta {
    padding: 100px 0;
    background-image: url(../img/comon-img/cta-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-cta-text-arae h4 {
    font-size: 20px;
    color: var(--color-white);
    font-weight: 400;
}

.home-cta-text-arae h2 {
    color: var(--color-white);
    font-weight: 500;
    padding-top: 15px;
}

.home-cta-text-arae p {
    color: var(--color-white);
    padding-top: 15px;
    width: 70%;
}

/* --Cta Area End --*/

/* --Counter Area Start-- */
#counter-area {
    padding: 120px 0;
}

.counter-top-icon {
    background: var(--color-white);
    color: var(--pink-color);
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50px;
    margin: 0 auto;
    box-shadow: 0px 0px 47px -24px #ff3066;
    z-index: 9;
    position: relative;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}

.counter-box-wrapper:hover .counter-top-icon {
    background-color: var(--pink-color);
    color: var(--color-white);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.counter-count-area {
    text-align: center;
    box-shadow: 0px 0px 11px -5px #ff3066;
    padding: 20px 0;
    margin-top: -30px;
    background: var(--color-white);
}

.counter-count-area h2 {
    padding-top: 30px;
}

.counter-count-area p {
    padding-top: 5px;
}

/* --Counter Area End --*/

/* --Client Area Start --*/
#home_client_area {
    padding: 0 0 120px 0;
}

.heading-content-box {
    text-align: center;
    margin-bottom: 60px;
}

.heading-content-box p {
    padding-top: 20px;
    width: 53%;
    margin: 0 auto;
}

.client-box {
    box-shadow: 0px 0px 29px -22px #ff3066;
    margin: 11px;
}

.client-name-descreption {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.client-img-name {
    display: flex;
    align-items: center;
}

.client-img-name img {
    width: 80px !important;
    height: 80px;
    border-radius: 50%;
}

.client-name {
    padding-left: 20px;
}

.client-name h4 {
    font-size: 24px;
    font-weight: 500;
}

.client-name p {
    font-weight: 600;
    padding-top: 5px;
}

.client-companey-logo img {
    width: 75px;
    height: 75px;
}

.clint-border {
    margin: 0;
    background-color: var(--pink-color);
}

.client-review-text {
    padding: 30px 30px 30px 30px;
}

.client-quote {
    text-align: right;
}

.client-quote i {
    font-size: 65px;
    color: #ffd6e0;
}

#home_client_area .owl-carousel .owl-nav button.owl-next,
#home_client_area .owl-carousel .owl-nav button.owl-prev {
    background-color: white;
    height: 45px;
    width: 45px;
    border-radius: 0;
    box-shadow: 0px 0px 25px -10px #0000003d;
    border: 1px solid #fff;
}

#home_client_area .owl-carousel .owl-nav button.owl-next i,
#home_client_area .owl-carousel .owl-nav button.owl-prev i {
    font-size: 18px;
    color: var(--pink-color);
}

#home_client_area .owl-theme .owl-nav [class*=owl-]:hover {
    color: var(--pink-color);
    border: 1px solid var(--pink-color);
}

#home_client_area .owl-theme .owl-nav {
    margin-top: 25px;
}

/* -- Client Area End --*/

/* -- Logo Area Start --*/
#logo-area-home {
    background-image: url(../img/logo-section/bg-shap.png);
    background-color: var(--pink-color);
    padding: 120px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-area-box {
    text-align: center;
    border-right: 1px solid #fff;
}

.logo-area-box .logo-img:nth-child(1) {
    border: none;
}

.logo-img {
    padding: 29px 0;
    border-top: 1px solid #fff;
}

#logo-area-home .container .row .col-lg-3:last-child .logo-area-box {
    border: none;
}

/* -- Logo Area End --*/

/* --Work Profile Strat-- */
#work-porfile {
    padding: 120px 0;
}

.work-profile-box {
    text-align: center;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}

.work-profile-box:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.work-profile-img {
    position: relative;
}

.work-pro-shap {
    position: relative;
}

.work-profile-icon img {
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.work-profile-text {
    box-shadow: 0px -6px 39px -18px #ff3066;
    padding: 15px 10px;
}

.work-profile-text h5 {
    font-size: 20px;
    font-weight: 500;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}

.work-profile-box:hover .work-profile-text h5 {
    color: var(--pink-color);
}

/* --Work Profile End-- */

/* --Footer Area Start-- */
#footer-area {
    padding: 120px 0;
    background: #232e5e;
}

.footetr-form-arae {
    background: #fff;
    padding: 40px 25px;
}

.footetr-form-arae h5 {
    font-size: 20px;
    font-weight: 600;
}

#footer-form {
    padding-top: 25px;
}

#footer-form .form-control {
    height: 50px;
    border-radius: 0;
    background: transparent;
    border: none;
    padding: 10px 0px 0px 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid var(--pink-color);
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: var(--heading-color);
}

#footer-form .form-group textarea {
    height: auto !important;
}

.label-box {
    position: relative;
}

.footer-btn {
    margin-top: 35px;
}

textarea:focus~.label-box::before,
input:focus~.label-box::before,
textarea:focus~.label-box::after,
input:focus~.label-box::after {
    width: 50%;
}

.label-box::before {
    left: 50%;
}

.label-box::before,
.label-box::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    bottom: 0px;
    background-color: var(--heading-color);
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}

.label-box::after {
    right: 50%;
}

#footer-side-tab .nav-tabs {
    border-bottom: none;
    border-right: 2px solid #fff;
    display: inherit;
}

#footer-side-tab .nav-tabs .nav-item {
    margin-bottom: 70px;
}

#footer-side-tab .nav-tabs .nav-item:last-child {
    margin-bottom: 0;
}

#footer-side-tab .nav-tabs .nav-link {
    font-size: 20px;
    font-weight: 500;
    color: var(--pink-color);
    border: none;
    padding: 0 40px 7px 0px;
}

#footer-side-tab .nav-tabs .nav-link.active {
    color: var(--pink-color);
    background-color: transparent;
    border-color: none;
    border: none;
}

#footer-side-tab .nav-tabs .nav-link.active:before {
    content: "";
    position: absolute;
    right: 6px;
    margin-top: 0;
    background-color: #232e5e;
    height: 18px;
    width: 18px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
}

#footer-side-tab .nav-tabs .nav-link:focus,
#footer-side-tab .nav-tabs .nav-link:hover {
    border-color: none;
    border: none;
    outline: none;
}

.tabs-content-wrapper {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.tabs-companey-arae {
    width: 70%;
}

.tabs-companey-arae h5 {
    color: var(--color-white);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.tabs-companey-arae h5 span {
    color: var(--pink-color);
}

.tabs-companey-arae p {
    color: var(--color-white);
}

.tabs-address-area {
    width: 100%;
}

.tabs-address-area .media {
    margin-bottom: 40px;
}

.tabs-address-area .media-body h4 {
    color: var(--color-white);
    padding-bottom: 20px;
}

.tabs-address-area .media-body p {
    color: var(--color-white);
}

.tabs-address-area .media-body p a {
    color: var(--color-white);
}

.tabs-address-area .media-body p a:hover {
    color: var(--pink-color);
}

.footer-collapese {
    display: none;
}

.btn-link {
    font-size: 20px;
    border: none;
    background: transparent;
    color: var(--heading-color);
    font-weight: 600;
}

.btn-link.focus,
.btn-link:focus {
    text-decoration: none;
    box-shadow: none;
}

.btn-link:hover {
    color: var(--pink-color);
    text-decoration: none;
}

#footer-area .accordion>.card:first-of-type {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

#footer-area .accordion>.card {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin-bottom: 20px;
}

#footer-area .accordion>.card .card-header {
    margin-bottom: 0px;
    padding: 0 27px;
    background-color: var(--color-white);
}

#accordionExample .card-body .address-arae-clooaeps h5 {
    font-size: 18px;
    font-weight: 600;
    color: var(--pink-color);
}

#accordionExample .card-body .address-arae-clooaeps h4 {
    font-size: 20px;
    font-weight: 700;
    padding-top: 18px;
}

#accordionExample .card-body .address-arae-clooaeps p {
    padding-top: 15px;
}

#accordionExample .card-body .footer-collapes-inner-area {
    display: flex;
}

#accordionExample .card-body .footer-collapes-contact {
    width: 100%;
}

#accordionExample .card-body .address-arae-clooaeps {
    width: 50%;
}

#accordionExample .card-body .tabs-address-area {
    width: 100%;
    padding-left: 40px;
}

#accordionExample .card-body .tabs-address-area .media-body h4 {
    color: var(--heading-color);
    padding-bottom: 20px;
}

#accordionExample .card-body .tabs-address-area .media-body p a {
    color: var(--heading-color);
}

#accordionExample .card-body .tabs-address-area .media-body p {
    color: var(--heading-color);
}

/* --Footer Area End-- */

/* ================================
            About  Page
===================================*/

/* --Banner Area Start-- */

/* --Banner Area End-- */


/* --About Area Start-- */
#about-our-story {
    padding: 0 0 120px 0;
}

.about-heading-box {
    text-align: center;
    padding: 45px 18px;
    margin-top: -100px;
    background-color: var(--color-white);
}

.about-heading-box h1 {
    font-size: 60px;
    line-height: 75px;
    font-weight: 500;
}

.about-heading-box h4 {
    font-size: 24px;
    padding-top: 25px;
}

.about-heading-box h4 a {
    color: var(--pink-color);
}

.about-story-wrapper {
    padding-top: 120px;
}


.about-story-text h5 {
    font-size: 20px;
    color: var(--pink-color);
    font-weight: 500;
}

.about-story-text h2 {
    text-transform: uppercase;
    padding-top: 15px;
}

.about-story-text p {
    padding-top: 20px;
    margin: 0;
}

.image-colum {
    position: relative;
}

.about-clearfix-img {
    position: relative;
    display: block;
    padding-right: 30px;
}

.image-colum .about-clearfix-img .image {
    position: relative;
    display: block;
    float: left;
    margin: 0 0;
    max-width: 400px;
}

.image-colum .about-clearfix-img .image img {
    position: relative;
    display: block;
    width: 100%;
}

.image-colum .about-clearfix-img .image:nth-child(1):before {
    content: '';
    position: absolute;
    top: 100%;
    margin-top: 30px;
    left: 6px;
    width: 112px;
    height: 109px;
    background: url('../img/about/dot.png') left -7px no-repeat;
}

.image-colum .about-clearfix-img .image:nth-child(2) {
    margin-left: 148px;
    margin-top: -203px;
    z-index: 1;
}

.image-colum .about-clearfix-img .image:nth-child(2):before {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 0;
    margin-bottom: 28px;
    margin-right: 15px;
    border: 50px solid transparent;
    border-left: 50px solid var(--pink-color);
    border-bottom: 50px solid var(--pink-color);
}

/* --About Area End-- */

/* --About fan-fact Area Start-- */
#some-fan-fact {
    padding: 120px 0;
    /* background: url('../img/about/fan-bg.png') no-repeat; */
    background-size: cover;
    background-color: var(--pink-color);
    overflow: hidden;
}

#some-fan-fact .heading-content-box h2 {
    color: var(--color-white);
}

#some-fan-fact .heading-content-box p {
    color: var(--color-white);
}

.fact-box {
    background: #fff;
    text-align: center;
    padding: 35px 10px;

}

.fact-box h2 {
    padding-top: 18px;
    font-size: 36px;
}

.fact-box p {
    padding-top: 17px;
    font-weight: 500;
}

.area-img-wrapper {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.area-img-wrapperimg {
    width: 100%;
}

/* --About fan-fact Area End-- */

/* --core-value Area Start-- */
#core-value-arae {
    padding: 120px 0;
}

.core-valu-box {
    height: 100%;
}

.core-value-text {
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
    padding: 0px 15px 25px 15px
}

.core-value-text:hover {
    box-shadow: 0px 6px 32px -18px var(--pink-color);
}

.core-value-img {
    overflow: hidden;
}

.core-value-img img {
    width: 100%;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}

.core-valu-box:hover .core-value-img img {
    transform: scale(1.1) rotate(3deg);
    -webkit-transform: scale(1.1) rotate(3deg);
    -moz-transform: scale(1.1) rotate(3deg);
    -ms-transform: scale(1.1) rotate(3deg);
    -o-transform: scale(1.1) rotate(3deg);
}

.core-value-text h4 {
    font-size: 24px;
    padding-top: 25px;
    font-weight: 500;
}

.core-value-text p {
    padding-top: 15px;
}

/* --core-value Area End-- */


/* --Our-leader Area Start-- */
#our-leader-arae {
    padding: 0 0 120px 0;
}

.leader-box {
    margin-bottom: 30px;
}

.leader-img {
    overflow: hidden;
}

.leader-img img {
    width: 100%;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
    opacity: .7;
}

.leader-box:hover .leader-img img {
    transform: scale(1.1) rotate(3deg);
    -webkit-transform: scale(1.1) rotate(3deg);
    -moz-transform: scale(1.1) rotate(3deg);
    -ms-transform: scale(1.1) rotate(3deg);
    -o-transform: scale(1.1) rotate(3deg);
    opacity: .9;
}

.leader-name {
    text-align: center;
    padding: 20px 10px;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}

.leader-box:hover .leader-name {
    background-color: var(--pink-color);
}

.leader-box:hover .leader-name h4,
.leader-box:hover .leader-name p {
    color: var(--color-white);
}

.leader-name h4 {
    font-weight: 500;
    padding-bottom: 5px;
}

/* --Our-leader Area End-- */


/* --Get-Review Area Start-- */
#get-reviews {
    padding: 120px 0;
    background-color: #fff2f2;
}

/* --Get-Review Area End-- */

/* --Back to top Button-- */
.go-top.active {
    top: 98%;
    -webkit-transform: translateY(-98%);
    transform: translateY(-98%);
    opacity: 1;
    visibility: visible;
}

.go-top {
    position: fixed;
    cursor: pointer;
    top: 0;
    right: 15px;
    color: #ffffff;
    background-color: var(--heading-color);
    z-index: 999;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .9s;
    transition: .9s;
    border-radius: 50%;
}

.go-top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--pink-color);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    border-radius: 50%;
}

.go-top i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.go-top i:last-child {
    opacity: 0;
    visibility: hidden;
    top: 60%;
}

.go-top:hover,
.go-top:focus {
    color: #ffffff;
}

.go-top:hover::before,
.go-top:focus::before {
    opacity: 1;
    visibility: visible;
}

.go-top:hover i:first-child,
.go-top:focus i:first-child {
    opacity: 0;
    top: 0;
    visibility: hidden;
}

.go-top:hover i:last-child,
.go-top:focus i:last-child {
    opacity: 1;
    visibility: visible;
    top: 50%;
}